
@{
    ViewData["Title"] = "Enter Player Data";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enter Player Data</title>
</head>
<body>

    <p>Put a form here to take player data input</p>

</body>
</html>
