
@{
    ViewData["Title"] = "Game Board";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameBoard</title>
</head>
<body>
    <p>put a game here... some kinda how </p>
   
    <a href="EnterPlayerData">Enter Player Data</a>
</body>
</html>
