@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">How to play</h1>
    <p>
        <ul>
            <li>Welcome to the Rock, Paper & Scissors game!</li>
            <li>¬designed by Dabina2018</li>
            <li>Select the option for rock, paper or scissors</li>
            <li> You have 5 seconds to make a choice!</li>
            <li>Rules of the Game:</li>
            <li>>Rock beats Scissor</li>
            <li>>Paper covers Rock</li>
            <li>>Scissor cuts Paper</li>
            <li>You have 3 rounds of game play</li>
            <li>Good Luck and Enjoy!</li>
        </ul>
        
    </p>
</div>
