@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Entering your name and email is optional and is not required to play this game. </p>
<p>If you choose to enter a player name and your personal email, the information will not be shared with any third parties.</p>
<p>Your score will be emailed to you and if you place in the top three you will receive an additional notification if another player upsets your ranking. </p>
